
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#sidebar {
    width: 220px;
    background-color: #eee;
    padding: 10px;
    float: left;
    height: 100vh;
    box-sizing: border-box;
}

main {
    margin-left: 230px;
    min-height: 100vh;
    box-sizing: border-box;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}

footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}